<strong>Recuperando senha</strong>
<p> Uma solicitação de recuperação de senha foi realizada para o e-mail ({{ email }}). Se você não foi o autor dessa requisição, seria legal você trocar sua senha.</p>
<p>Para continuaar com a recuperação de senham utilize o {{ token }} ou click no link abaixo</p>
<a href="{{ link }}"> Criar nova senha </a>
